:root {
    --bg_color: "https://github.com/sameerasw/my-internet/blob/main/wave-light.png?raw=true";
    --bg_img: image-set(var(--bg_color)) !important;
}

/*! General UI Elements Styling !*/
/* Hidden elements */
/* #nav-bar-overflow-button, */
#zen-current-workspace-indicator {
    display: none;
}

/* Separator width reduction */
#vertical-pinned-tabs-container-separator,
#tabbrowser-arrowscrollbox-periphery:before,
#TabsToolbar-customization-target:after,
.vertical-pinned-tabs-container-separator {
    width: 30% !important;
}

/* URL bar cleanup - hide unnecessary elements */
#page-action-buttons,
#identity-permission-box {
    display: none !important;
}

/* No workspace indicator */
#zen-current-workspace-indicator-container {
    display: none !important;
}

/* No window controls - macOS */
/* #zen-sidebar-top-buttons {
    .titlebar-buttonbox-container {
        display: none !important;
    }
} */

/* No split borders */
hbox[zen-split="true"].deck-selected {
    border: none !important;
    outline: none !important;
}

/* Fix find in page opacity */
findbar * {
    opacity: 1 !important;
}



/*! Animations and Visual Effects !*/
/* Loading tab animation */
tab[busy] {
    scale: 0.95 !important;
    .tab-background {
        opacity: 0.3 !important;
    }
}

/* Scale effect when tab bar is not expanded */
#tabbrowser-tabs:not([expanded]) tab,
#tabbrowser-tabs:not([expanded]) tab-group {
    scale: 1.1 !important;
}

/* Transparent URL bar styling */
#urlbar[open][zen-floating-urlbar="true"] {
    #urlbar-background {
        background-color: light-dark(
            color-mix(in srgb, #fdfdfd 80%, transparent),
            color-mix(in srgb, #0e0e0e 80%, transparent)
        ) !important;
    }
}

/* Transparent glance styling */
.zen-glance-background > vbox {
    mask-image: linear-gradient(
        to right,
        black 0%,
        black 4%,
        transparent 7%,
        transparent 93.5%,
        black 96%,
        black 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.zen-glance-overlay > vbox {
    background-color: light-dark(#fff7, #0007) !important;
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
    height: 98% !important;
}

/* auto hide toolbar buttons */
#zen-sidebar-top-buttons{
    transition: all 0.3s ease-in-out !important;
    margin-top: 0 !important;
    padding-top: 5px !important;
}

#navigator-toolbox:not(:has(#nav-bar:hover)):not(:has(#urlbar[open=""])){
#zen-sidebar-top-buttons:not(:hover):not(:has([open="true"])):has(toolbarbutton:not([hidden="true"]):not(#unified-extensions-button)){
    margin-top: -20px !important;
    margin-bottom: 0 !important;
    opacity: 0 !important;
    }
}



/*! New Tab Customizations !*/
#browser:has([zen-empty-tab="true"][selected="true"]) .browserStack {
	background-image: url("https://github.com/SARRAF-5757/.dotfiles/blob/dots/Library/Application%20Support/zen/Profiles/lpjljjxv.Default%20(release)/chrome/images/newtabText.png?raw=true") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 20% !important;
	filter: saturate(0);
	/* background-size: cover !important; */	/* Use when using opaque full images */
}

/* Modify new tab entry appearance */
[label="Super Speedy Dial"] {
    .tab-label-container:after {
        content: "Home" !important;
    }

    label {
        display: none !important;
    }

    .tab-icon-image {
        content: url("chrome://branding/content/icon32.png") !important;
        border-radius: 100px !important;
        mix-blend-mode: difference !important;
    }
}

/* Hide compact sidebar when no tabs open */
#zen-main-app-wrapper[zen-compact-mode="true"]:not(
    :has(#urlbar[open][zen-floating-urlbar="true"])
    )
    #browser:has([zen-empty-tab="true"][selected="true"])
    #navigator-toolbox,
    #zen-main-app-wrapper[zen-compact-mode="true"]
    #browser:has([zen-empty-tab="true"][selected="true"])
    #urlbar:not([open]) {
    opacity: 0 !important;
}



/*! Custom Extension Icons !*/
/* reload button */
#reload-button > image {
	opacity: 0 !important;
}

/* dark reader */
[label="Dark Reader"] image {
	list-style-image: url("https://github.com/SARRAF-5757/.dotfiles/blob/dots/Library/Application%20Support/zen/Profiles/lpjljjxv.Default%20(release)/chrome/images/darkReader.png?raw=true") !important;
}

/* zen internet */
[label="Zen Internet"] image {
	list-style-image: url("https://github.com/SARRAF-5757/.dotfiles/blob/dots/Library/Application%20Support/zen/Profiles/lpjljjxv.Default%20(release)/chrome/images/transparent-zen.png?raw=true") !important;
}

/* Bitwarden */
[label="Bitwarden"] image {
	list-style-image: url("https://github.com/SARRAF-5757/.dotfiles/blob/dots/Library/Application%20Support/zen/Profiles/lpjljjxv.Default%20(release)/chrome/images/bitwarden.png?raw=true") !important;
}

/* dark theme */
[devtoolstheme="light"] {
	[label="Dark Reader"],
	[label="Zen Internet"],
	[label="Bitwarden"] {
		image {
			filter: invert(0) !important;
		}
	}
}



/*! Sidebar Styling and Animation !*/
/* Hidden sidebar buttons with hover reveal */
#zen-sidebar-icons-wrapper,
#home-button {
    opacity: 0;
    transition: opacity 0.5s ease-in-out !important;

    &:hover {
        opacity: 1 !important;
    }
}

/* Sidebar background transparency */
#sidebar-box,
#bookmarksPanel.sidebar-panel,
#sidebar-header,
#history-panel,
html,
#header {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Sidebar styling and border radius */
/* body > browser:nth-child(2)[disableglobalhistory="true"], */
#sidebar {
    border-radius: 1em !important;
    overflow: hidden !important;
    margin: 0 14px 14px 0 !important;
}

/* Hide GenAI provider selector in sidebar */
#header:has(select[data-l10n-id="genai-header-provider-menu"]) {
    display: none !important;
}

/* Sidebar header animation */
#sidebar-header {
    transition: all 0.3s ease-in-out !important;
    top: 0px !important;
    position: relative !important;
    height: 0 !important;
    opacity: 0.01 !important;
    &:hover {
        top: 0px !important;
        height: 40px !important;
        opacity: 1 !important;
    }
}

/* No border split view handle fix */
.zen-view-splitter-header {
    transition: margin 0.3s ease-in-out;
    &:hover {
        margin-top: 15px !important;
    }
}

/* Sidebar bottom button positioning */
#zen-sidebar-bottom-buttons {
    order: 1 !important;
    margin-bottom: 0.5em !important;
}

/* Hide workspace dots with hover reveal */
#zen-main-app-wrapper[zen-compact-mode="true"] #navigator-toolbox {
    opacity: 1 !important;
}

#zen-sidebar-bottom-buttons:not(:has([open="true"])) {
    bottom: -25px !important;
    opacity: 0 !important;
    transition: all 0.3s ease-in-out !important;
}

/* Workspace indicator styling and animation */
.unified-extensions-item {
    transition: opacity 0.3s ease-in-out !important;
}

.zen-current-workspace-indicator {
    order: 100000 !important;
    opacity: 1;
    bottom: 0px !important;
    min-height: initial !important;
    transition: all 0.3s ease-in-out !important;
}

body:not(
    :has(zen-workspace-icons:hover, .zen-current-workspace-indicator:hover)
    ) {
    .zen-current-workspace-indicator {
        opacity: 0 !important;
        bottom: -50px !important;
        height: 0 !important;
        min-height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}

/* Show controls on hover */
#navigator-toolbox:hover {
    #zen-sidebar-bottom-buttons,
    #zen-media-controls-toolbar {
        bottom: 0px !important;
        opacity: 1 !important;
    }
}

/* Hide extensions when not hovering sidebar bottom */
#zen-sidebar-bottom-buttons:not(:hover) {
    .unified-extensions-item:not(:has([open])) {
        opacity: 0 !important;
    }
}



/*! Ctrl-Tab Tweaks !*/
/* Ctrl+Tab preview panel styling */
#ctrlTab-previews {
    border-radius: 2em !important;
    margin-bottom: 2em !important;
    padding: 1.5em !important;

    box-shadow: rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
                rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
    background-color: light-dark(#fff8, #0005) !important;
}

/* Preview image styling */
.ctrlTab-canvas img {
    border-radius: 1em !important;
    transition: all 0.5s ease-in-out !important;

    &:hover,
    &:active,
    &:focus {
        scale: 1.05 !important;
    }
}

#ctrlTab-preview:active,
#ctrlTab-preview:focus {
    .ctrlTab-canvas img {
        scale: 1.05 !important;
    }
}

/* Panel background and blur effect */
#ctrlTab-panel {
    background-color: transparent !important;
    --panel-background: transparent !important;
    --zen-appcontent-border: none !important;
    border: none !important;
}

body:has(
        #ctrlTab-panel[hasbeenopened="true"] .ctrlTab-preview:not([hidden="true"])
    )
#tabbrowser-tabpanels {
    filter: blur(10px) !important;
}



/*! Better Colored Essentials */
#zen-essentials-container .tabbrowser-tab {
	@media (-moz-bool-pref: "zen.theme.essentials-favicon-bg") {
		&[visuallyselected] .tab-background {
			&::after {
				left: -50% !important;
				top: -50% !important;
				width: 200% !important;
				height: 200% !important;
				filter: blur (20px) !important;
			}
			&::before {
				mask-image: none !important;
				background-color: light-dark(color-mix(in srgb, #ffffff 65%, transparent), color-mix(in srgb, #000000 55%, transparent)) !important;
			}
		}
		&[visuallyselected]:hover .tab-background::before {
			background-color: light-dark(color-mix(in srgb, #ffffff 55%, transparent), color-mix(in srgb, #000000 65%, transparent)) !important;
		}
	}
}



/*! Better Customize Toolbar !*/
#customization-container {
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 10px;
	height: 80%;
	width: 70%;
	border-radius: 12px;

	padding: 10px;
	background: light-dark(rgba(255, 255, 255, 0.32), rgba(0, 0, 0, 0.3)) !important;
}

@media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
	#customization-container {
		left: 10px;
	}
	#customization-container #customization-content-container {
		flex-direction: row-reverse;
	}
}

#customization-container #customization-panel-container {
	padding: 10px !important;
}

#customization-container #customization-panelWrapper {
	--panel-arrow-offset: 0px;
}

#customization-container .panel-arrowbox {
	display: none !important;
}

#customization-container .panel-arrowcontent {
	height: 100% !important;
	background: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.4)) !important;
	border: none !important;
	margin: 0px !important;
	border-radius: 8px;
}

/* Check when the width is low */
@media (max-width: 700px) {
	/* Adjust the threshold as needed */
	#customization-container {
		border: 2px solid red; /* Temporary visual indicator */
	}
}
