/* @import "natsumi/natsumi.css"; */

/*! Empty Tab Image !*/
#browser:has([zen-empty-tab="true"][selected="true"]) .browserStack {
	background-image: url("https://github.com/SARRAF-5757/.dotfiles/blob/dots/Library/Application%20Support/zen/Profiles/lpjljjxv.Default%20(release)/chrome/newtabText.png?raw=true") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 20% !important;
	filter: saturate(0);
	/* background-size: cover !important; */	/* Use when using opaque full images */
}

/*! Custom Extension Icons !*/
/* reload button */
#reload-button > image {
	opacity: 0 !important;
}

/* dark reader */
[label="Dark Reader"] image {
	list-style-image: url("https://cdn3.iconfinder.com/data/icons/feather-5/24/moon-512.png") !important;
}

/* zen internet */
[label="Zen Internet"] image {
	list-style-image: url("https://cdn3.iconfinder.com/data/icons/feather-5/24/command-128.png") !important;
}

/* Bitwarden */
[label="Bitwarden"] image {
	list-style-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/key-password-main-keys-privilege-256.png") !important;
}

/* dark theme */
[devtoolstheme="dark"] {
	[label="Dark Reader"],
	[label="Zen Internet"],
	[label="Bitwarden"] {
		image {
			filter: invert(1);
		}
	}
}

/*! Ctrl-Tab Tweaks !*/
#ctrlTab-previews {
	border-radius: 2em !important;
	margin-bottom: 2em !important;
	padding: 1.5em !important;

	box-shadow: rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
	background-color: light-dark(#fff8, #0005) !important;
}

.ctrlTab-canvas img {
	border-radius: 1em !important;
	transition: all 0.5s ease-in-out !important;

	&:hover,
	&:active,
	&:focus {
		scale: 1.05 !important;
	}
}

#ctrlTab-preview:active,
#ctrlTab-preview:focus {
	.ctrlTab-canvas img {
		scale: 1.05 !important;
	}
}

/* ctrl tab visuals and animations */
#ctrlTab-panel {
	background-color: transparent !important;
	--panel-background: transparent !important;
	--zen-appcontent-border: none !important;
	border: none !important;
}

body:has(#ctrlTab-panel[hasbeenopened="true"] .ctrlTab-preview:not([hidden="true"])) #tabbrowser-tabpanels {
	filter: blur(10px) !important;
}

/*! Transparent Glance !*/
.zen-glance-background > vbox {
	mask-image: linear-gradient(to right, black 0%, black 4%, transparent 7%, transparent 93.5%, black 96%, black 100%);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

.zen-glance-overlay > vbox {
	background-color: light-dark(#fff7, #0007) !important;
	margin-top: 0.5% !important;
	margin-bottom: 0.5% !important;
	height: 98% !important;
}

/*! Better Colored Essentials */
#zen-essentials-container .tabbrowser-tab {
	@media (-moz-bool-pref: "zen.theme.essentials-favicon-bg") {
		&[visuallyselected] .tab-background {
			&::after {
				left: -50% !important;
				top: -50% !important;
				width: 200% !important;
				height: 200% !important;
				filter: blur (20px) !important;
			}
			&::before {
				mask-image: none !important;
				background-color: light-dark(color-mix(in srgb, #ffffff 65%, transparent), color-mix(in srgb, #000000 55%, transparent)) !important;
			}
		}
		&[visuallyselected]:hover .tab-background::before {
			background-color: light-dark(color-mix(in srgb, #ffffff 55%, transparent), color-mix(in srgb, #000000 65%, transparent)) !important;
		}
	}
}

/*! Better Customize Toolbar !*/
#customization-container {
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 10px;
	height: 80%;
	width: 70%;
	border-radius: 12px;

	padding: 10px;
	background: light-dark(rgba(255, 255, 255, 0.32), rgba(0, 0, 0, 0.3)) !important;
}

@media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
	#customization-container {
		left: 10px;
	}
	#customization-container #customization-content-container {
		flex-direction: row-reverse;
	}
}

#customization-container #customization-panel-container {
	padding: 10px !important;
}

#customization-container #customization-panelWrapper {
	--panel-arrow-offset: 0px;
}

#customization-container .panel-arrowbox {
	display: none !important;
}

#customization-container .panel-arrowcontent {
	height: 100% !important;
	background: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.4)) !important;
	border: none !important;
	margin: 0px !important;
	border-radius: 8px;
}

/* Check when the width is low */
@media (max-width: 700px) {
	/* Adjust the threshold as needed */
	#customization-container {
		border: 2px solid red; /* Temporary visual indicator */
	}
}
